*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-lightgray);
}

:root{
    --color-primary:#033f3f;
    --color-secondary:#fff;
    --color-gray:rgb(104, 103, 103);
    --color-darkmode:rgb(37, 37, 37);
    --color-white:#fff;
    --color-lightgray:lightgray;
}

section{
    width: 100%;
    height: fit-content;
}

/* navbar */

nav{
    height: 65px;
    padding:10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary);
    color: var(--color-secondary);
}

#nav{
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: x-large;
    font-weight: 600;
    font-family: sans-serif;
}

.logo a{
    text-decoration: none;
    color: var(--color-secondary);
}
.searchbar{
    background: var(--color-secondary);
    width: 70%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.searchbar input,.searchbar button{
    height: 80%;
    background: transparent;
    outline: none;
    border: none;
}

.searchbar input{
    width: 90%;
    font-size: 18px;
}
.searchbar button{
    width: 10%;
}

/* nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    margin:10px 20px;
} */

/* Profile */
.profile{
    width: fit-content;
    display: flex;

}

.message{
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orangered;
}
.message h5{
    font-family: system-ui;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 6px;
    background: var(--color-gray);
}

.online{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 2px;
}

i {
    font-size: x-large;
    color: #fff;
}


.body{
    display: flex;
    position: relative;
}
/* -------------------nav-mobile---------------- */
.nav-mobile {
    width: 100%;
    display: none;
    /* padding: 10px; */
    position: fixed;
    bottom: 0;
    height: fit-content;
    z-index: 999;
    margin: -10px 0;
    /* justify-content: center; */
}
.nav-mobile ul{
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
}

.nav-mobile ul li{
    list-style: none;
    margin:auto ;
    padding: 15px;
}
.nav-mobile ul i{
    font-size: larger;
}

/*
#mobile-menu {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 3%;
    text-align: center;
    margin: 35% auto;
    border-radius: 50%;
    color: #fff;
    background: var(--color-primary);
    position: fixed;
    z-index: 999;
} */
/* -------------------------main-------------------- */
.main-content{
    width: 50%;
    flex-basis: 50%;
    margin: 10px auto;
}

.post{
    border-radius: 4px;
    background: #fff;
    padding:10px 20px;
    width: 100%;
    height: fit-content;
    margin: 10px 0;
}

.post-user{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-user #post-menu{
    font-size: x-large;
    width: 50px;
    text-align: center;
    align-items: center;
}
#post-menu h3{
    font-weight: 600;
}
.post-item, .text-post,.video-post{
    width: 100%;
    height: 60vh;
    margin: 10px 0;
}
.post-item img{
    width: 100%;
    height: 100%;
}
.text-post {
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text-post h2 {
    text-align: center;
    margin: auto;
    color: #fff;
    padding: 0 5px;
}
.video-post{
    height: 100%;
    width: 100%;
}
.video-post video{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.post-link{
    width: 250px;
    display: flex;
    margin: 12px 0;
    align-items: center;
    justify-content: space-between;
}

.post-link i{
    color: var(--color-primary);
}

.post-link a{
    text-decoration: none;
    color: grey;
    display: flex;
    align-items: center;
}
.post-link a span{
    margin-left: 5px;
}

/* story items--------------------------- */
.stories{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;

}

.story{
    width: 100px;
    height: 100px;
    position: relative;
}
.story-image{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 8px double rgb(117, 3, 93);

}

#me{
    border: none;
}
.story img{
    height: 100%;
    width: 100%;
}
.story .image{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    bottom: 15px;
    border: 2px solid var(--color-white);
    background: green;
}
#title{
    display: flex;
    margin-right: 10px;
}
.story .image i{
    font-size: small;
}

/* ----------------------Left---------------------- */
.left-sidebar, .right-sidebar{
    width: 22%;
    height: fit-content;
    margin:20px;
    background: var(--color-white);
    border-radius: 4px;

}
.heading, .category{
    display: flex;
    width: 100%;
    align-items: center;
    
}
.category .image,.heading .image{
    margin: 13px;
}
.user-name a{
    font-size: larger;
    text-decoration: none;
    color: #333;
}
.list a{
    text-decoration: none;
    color: #333;
}

/* ----------------------right--------------------- */

.right-sidebar hr,.right-sidebar h3{
    margin:10px auto;
    width: 80%;
    text-align: center;
}

.right-sidebar h3{
    margin: 20px 0;
}
#more{
    margin:10px 20px;
    text-align: right;
    right: 0;
    top: 0;
    width: 100%;

}
#more h4{
    margin-right: 20px;
}
.right-sidebar .image,.left-sidebar .image{
    height: 40px;
    width: 40px;

}

.story a{
    text-decoration: none;
    color: #033f3f;
}
.t-story{
    padding: 10px;
}


.notification{
    display: none;
    width: 0;
    height: fit-content;
    /* max-height: fit-content; */
    position: absolute;
    right: 20px;
    top: 80px;
    background: #fff;
    padding: 20px;
    color: black;
}

.more-height{
    display: block;
    width: 300px;
}

.notification-heading,.notification-heading i{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.notification-heading a{
    text-decoration: none;
}
.notification-container{
    width: 100%;
    height: 100%;

}

.notification-item {
    display: flex;
    border-radius: 5px;
}
.notification-item:hover{
    background: lightgray;
}
.notification-item .image{
    flex-basis: 20%;
}

.item-message{
    flex-basis: 80%;
    color: #333;
}

#more{
    text-decoration: none;
    color: #fff;
    width: 0px;
}
/* ----------------------------Profilepage--------------------- */
.Prof{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    padding: 20px;
    margin: auto;
    background: #fff;
    margin-top: 20px;
}
.image a{
    text-decoration: none;
    color: #fff;
}

.image a h2 {
    font-weight: 700;
    font-size: xx-large;
}

.settings {
    position: absolute;
    top: 100px;
    right: 0;
    display: none;
    width: 0;

    /* background: rgba(211, 211, 211,0.7); */
    background:#fff;
    border-radius: 4px;
    transition: width 2s ease;
    padding: 10px;
}

#menu{
    cursor: pointer;
}

.settings-width{
    width: 60%;
    transition: width 2s ease;
    display: block;

}
.settings-large-width{
    width: 20%;
    transition: width 2s ease;
    display: block;

}
.set{
    width: 100%;
    height: 100%;
    display: flex;
}

.set ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
}

.set ul li{
    display: inline-flex;
    padding: 7px;
    margin: 1px 20px;
}

.set ul li:hover{
    background: lightgray;
}
.set ul li:hover{
    opacity: 0.7;
}

.set ul li:last-child a{
    color: red;
}
.set a{
    text-decoration: none;
    color: #333;
}

.profile-info{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.profile-image{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}
.profile-image img{
    width: 100%;
    height: 100%;
}
.profile-info h3,.profile-info hr,.profile-info p,button{
    margin: 10px;
}

.edit-profile{
    width: 100%;
    display: flex;
    margin: 10px;
    justify-content: center;
}
.edit-profile button{
    width: 100px;
    color: #fff;
    padding: 10px;
    background: var(--color-primary);
    outline: none;
    border: 3px solid var(--color-primary);
    font-size: medium;
    cursor: pointer;
    border-radius: 4px;
}
.user-post-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,4fr);
    padding-top: 20px;
}
.user-post-item {
    width: 100%;
    height: 225px;
}
.user-post-item img{
    width: 100%;
    height: 100%;
}

.user-post-filter{
    display: flex;
    width: 100%;
    height: fit-content;
}

.user-post-filter ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    
}

.user-post-filter ul li{
    width: 80px;
    color: #fff;
    padding: 20px;
    outline: none;
    /* border: 3px solid var(--color-primary); */
    font-size: medium;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-post-filter i{
    /* color: #033f3f; */
    color: var(--color-primary);

}



/* Chats and messages */
.cht{
    padding:10px 30px;
}

.chats{
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.836);
    padding: 10px;
    display: flex;
    
}

.chat-message-container{
    border-radius: 4px;
    background: #fff;
    flex-basis: 35%;
    width: 370px;
    padding: 15px;
    display: inline-block;
    position: sticky;
    
}
.chat-head{
    width: 100%;
    height: 50px;
    display: flex;
    /* background: #333; */
    align-items: center;
    padding-left: 8px;
}

.chats-present{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background: #fff;
}
.chat-messages{
    width: 100%;
}
.chat-message{
    display: flex;
    margin:10px 0;
    border-radius: 4px;
}
.chat-message:hover{
    background: lightgray;
    cursor: pointer;
}
.chat-text{
    flex-basis: 80%;
    width: 100%;
    height: 100%;
    margin: auto;
}

.chat-display{
    display: inline-block;
    background: #fff;
    flex: 60%;
    width: 100%;
    margin-left: 5px;
    position: relative;
}

.chat-display-head{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.chat-display-container{
    padding:8px 20px;
}


.chat-display-input {
    display: flex;
    width: 100%;
    padding: 10px;
    bottom: 0;
    position: absolute;
    height: 60px;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

.chat-input {
    width: 90%;
    display: flex;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 0 3px #333;
}

.chat-input input{
    width: 90%;
    height: 90%;
    font-size: 15px;
    padding: 0 3px;
    outline: none;
    border: none;
}

.chat-input a i,.chat-input a,.chat-input span{
    color: #333;
    text-decoration: none;
    font-size: large;
}

.chat-btn{
    width: 40px;
    height: 40px;
}

.chat-btn a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(1, 70, 1);
    border-radius: 50%;
    box-shadow: 0 0 3px #333;

}
.chat-btn a i{
    font-size: large;
}

/* ----------------Mobile---------------- */
@media(max-width:700px){
    /* homepage */
    .left-sidebar{
        display: none;

    }
    .right-sidebar{
        display: none;
    }
    nav ul{
        display: none;
    }
    .searchbar{
        display: none;
    }
    .body{
        display: block;
    }
    .main-content{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .post{
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    .post-link{
        padding-left: 14px;
        margin-left: 14px;
    }
    #description {
        margin-left: 14px;
        display: flex;
        padding-bottom: 20px;
    }
    #description h5{
        margin-right: 5px;
    }
    #title {
        display: flex;
        padding: 7px 10px;
        /* margin-right: 37px; */
    }
    .last{
        display: none;
    }
    .first{
        margin-left: 15px;
    }

    /* Profilepage */
    .settings {
        right: -2px;
    }


    .Prof{
        width: 100%;
        padding: 0;
        margin-top: 0;
        overflow: hidden;
    }
    .profile-info{
        width: 100%;
        padding-top: 20px;
    }
    .profile-image{
        width: 150px;
        height: 150px;
    }
    .user-post-container{
        gap: 5px;
    }
    .user-post-item {
        width: 100%;
        height: 120px;
    }

    /* Chatpage */
    .chats{
        /* display: inline-block; */
        display: block;
        padding: 0;
    }
    .chat-display{
        display:none ;
    }
    .chat-message-container{
        display: block;
    }
    .cht{
        padding: 0;
    }
    .chat-message-container{
        width: 100%;
        /* max-width: auto; */

    }
    .chat-display {
        height: 90%;
    }
    .chat-display-input {
        bottom: 10px;
        position: fixed;
    }
    .chat-display-input {
        padding: 9px 0;
        justify-content: flex-start;
    }
    .chat-input{
        width: 80%;
        margin-right: 10px;
    }



}

